@import url("https://fonts.googleapis.com/css2?family=Risque&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
*:hover {
  -webkit-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
}

body {
  background-color: white;
}

nav {
  position: -webkit-sticky;
  position: sticky;
}

@media only screen and (max-width: 500px) {
  nav {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Risque', cursive;
}

@media only screen and (max-width: 500px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

ul li {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  list-style: none;
  padding: 1rem;
  border: none;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  ul li {
    background-color: black;
    width: 100%;
  }
  ul li:hover {
    background-color: white;
    color: orange;
  }
  ul li:focus nav {
    display: none;
  }
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: white;
}

@media only screen and (max-width: 500px) {
  ul li a {
    color: white;
  }
}

ul li:hover {
  background-color: orange;
  color: black;
  border-radius: 50px;
}

@media only screen and (max-width: 500px) {
  ul li:hover {
    border-radius: 0px;
  }
}

ul button {
  width: 20%;
  list-style: none;
  text-decoration: none;
  background-color: orange;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  font-family: 'Risque', cursive;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  ul button {
    background-color: white;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

ul button a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 500px) {
  ul button a {
    color: black;
  }
}

ul button:hover {
  background-color: white;
  border: 2.5px solid orange;
}

@media only screen and (max-width: 500px) {
  ul button:hover {
    background-color: black;
  }
}

ul button:hover a {
  color: orange;
}

@media only screen and (max-width: 500px) {
  ul button:hover a {
    color: white;
  }
}

header span {
  font-size: 24px;
  padding: 10px;
  display: none;
  font-family: 'Risque', cursive;
}

@media only screen and (max-width: 500px) {
  header span {
    display: inline;
    float: left;
  }
}

header .fa-bars {
  font-size: 24px;
  padding: 10px;
  display: none;
}

@media only screen and (max-width: 500px) {
  header .fa-bars {
    display: inline;
    float: right;
  }
}

header #navbar {
  display: inline;
}

@media only screen and (max-width: 500px) {
  header #navbar:checked ~ nav {
    display: block;
  }
}

.Home .hero {
  font-family: 'Russo One', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("bg-hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: larger;
}

@media only screen and (max-width: 500px) {
  .Home .hero {
    width: 100%;
    height: 100vh;
    font-size: small;
  }
  .Home .hero span {
    margin-top: 80%;
    color: orange;
  }
}

.Home .hero span {
  font-weight: bold;
}

.Home .hero p {
  font-weight: lighter;
}

.About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 8px solid orange;
  margin: 1rem 0;
}

.About span {
  color: orange;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Risque', cursive;
}

.About p {
  font-family: 'Russo One', sans-serif;
  font-size: medium;
  font-weight: lighter;
  color: white;
}

@media only screen and (max-width: 500px) {
  .images img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */